<div class= "panel-header">
    <h4>Welcome to Atkku Services</h4>
</div>
<div class="panel-body">
  <h5>Things to remember.</h5>
  <ul>
    <li>We use secure connection to our server.</li>
    <li>This site uses cookie during your registration session.</li>
    <li>Please enter all company related information to complete registration.</li> 
    <li>Upon completion, you can download Atkku-20R registration in PDF format. You need Acrobat Reader or compatible PDF reader is rquired to open the downloaded file.</li> 
    <li>For security reasons, completed registration form (pdf file) is password protected. You'll receive email containing password to open the PDF file.</li> 
  </ul>
  <a class = "btn btn-dark"  routerLink = 'registration' >Start</a>
  </div>
